name: stegcrypt_plus_flutter
description: StegCrypt+ Flutter front-end (multiplatform)
publish_to: "none"
version: 1.0.0+1
environment:
  sdk: ">=2.18.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.5
  http: ^0.13.6
  shared_preferences: ^2.1.1
  socket_io_client: ^2.0.0
  provider: ^6.0.5
  flutter_secure_storage: ^8.0.0
  intl: ^0.18.1
  uuid: ^3.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/icons/
